.char {
    background-color: aqua;
    border: 1px solid #111;
    max-width: 200px;
    height: 230px;
    text-align: center;
}

.attackBtn {
    visibility: hidden;
}

.resetBtn {
    visibility: hidden;
}
.defender {
    border: 3px solid red;
}

.attacker {
    border: 3px solid blue;
}