.char {
height: 100px;
color: green;
background-color: burlywood;
height: 130px;
max-width: 100px;
margin: 0 auto;
}

.attackBtn {
    visibility: hidden;
}

.resetBtn {
    visibility: hidden;
}
.defender {
    border: 3px solid red;
}

.player {
    border: 3px solid blue;
}