.char {
height: 100px;
color: green;
background-color: burlywood;
height: 200px;
max-width: 150px;
margin: 0 auto;
}
.enemy {
    height: 150px;
}

.attackBtn {

}

.resetBtn {
    
}
.defender {
    border: 3px solid red;
}

.player {
    border: 3px solid blue;
}